* {
  box-sizing: border-box;
}

main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30vw;
  height: 50vh;
  border: 1px solid black;
}

/* #book-form {
  width: 100%;
  background-color: red;
} */

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.lists-container {
  display: flex;
  gap: 20px;
}

.unfinished-list-container {
  display: flex;
  justify-content: center;

  width: 30vw;
  height: 50vh;
  border: 1px solid black;
}

.finished-list-container {
  display: flex;
  justify-content: center;

  width: 30vw;
  height: 50vh;
  border: 1px solid black;
}
